h1 {
  width: 50%;
  margin: auto;
  text-align: center;
}

body {
  background-color: #d0edff;
  padding: 0px;
  margin: 0px;
}

.content {
  margin: 0px;
  width: auto;
}

.panel {
  width: 20%;
  background-color: #65a5cd;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.76);
  margin: 20px auto;
  padding: 5px;
}

.header {
  width: 100%;
  background-color: #65a5cd;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.7);
}
